@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background-color: hsl(216, 28%, 7%);
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 64px);
}

mat-toolbar {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

mat-toolbar img {
    height: 30px;
    margin-right: 16px;
}

.spacer {
    flex: 1 1 auto;
}