<div class="container">
    <h1>Repositorios Públicos de <span class="username">{{ username }}</span> en GitHub</h1>
    <app-error-handler [errorMessage]="errorMessage"></app-error-handler>

    <div *ngIf="!errorMessage">
        <div class="filters-container">
            <mat-form-field appearance="outline">
                <mat-label>Buscar repositorio</mat-label>
                <input matInput (keyup)="applyFilter($event)">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Filtrar por lenguaje</mat-label>
                <mat-select (selectionChange)="filterByLanguage($event)">
                    <mat-option value="">Todos los lenguajes</mat-option>
                    <mat-option *ngFor="let item of languajesList" [value]="item">{{ item }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Buscar por estrellas</mat-label>
                <input matInput type="number" [ngModel]="starFilter" (change)="filterByStars($event)">
            </mat-form-field>
        </div>

        <div *ngIf="loading" class="loading-indicator">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <p>Cargando repositorios...</p>
        </div>

        <div class="repositories-grid">
            <div *ngIf="repositories" class="repository-list">
                <mat-card *ngFor="let item of dataRepositories" class="repository-card">
                    <mat-card-header>
                        <mat-card-title>{{ item.name }}</mat-card-title>
                        <mat-card-subtitle *ngIf="item.language">
                            <mat-icon>code</mat-icon> {{ item.language }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p *ngIf="item.description">{{ item.description }}</p>
                        <div class="repository-details">
                            <div class="stars">
                                <mat-icon>star</mat-icon> {{ item.stargazers_count }}
                            </div>
                            <a [href]="item.html_url" target="_blank" mat-button color="primary">
                                Ver en GitHub
                            </a>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <mat-paginator [length]="totalRepositories" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [pageSizeOptions]="[5, 10, 20]" (page)="handlePageEvent($event)" aria-label="Seleccionar página">
        </mat-paginator>
    </div>

</div>